body{
    background: #397164;
    border: 30px solid #18453B;
    margin: 0 auto;
    color: #ffffff;
}

.intro{
    display: flex;
    gap: 25px;
}

.buttons{
    background: #A4C7BF;
    color: #ffffff;
}